.container {
  background-color: #ffc75f;
  display: flex;
  max-height: fit-content;
}

.icon {
  margin-left: 5rem;
  margin-right: 8rem;
}

.button {
  background-color: #aa3904;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
  background-color: #b94610;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button1 {
  border-radius: 40px;
}

.title {
  color: #fffefe;
}

.nav {
  position: absolute;
  top: 10px;
  right: 0;
}

.nav {
  position: absolute;
  top: 10px;
  right: 0;
}

.nav:hover {
  position: absolute;
  top: 10px;
  right: 0;
}
